if construct

In [1]:
marks=90

In [2]:
marks

90

In [3]:
if marks>80:
    print("excellent")   else:
        print("good")

SyntaxError: invalid syntax (<ipython-input-3-0e2600365a77>, line 2)

In [1]:
if marks>80:
    print('Excellent')
else:
    print('Good')

NameError: name 'marks' is not defined

In [ ]:
m=40
if(m>20):
    print('Good')
else:
    print('Average')
print('end')

In [ ]:
fact=2
num=12
if num%fact ==0:
    print('even')
else:
    print('odd')

list comprehension

In [2]:
list1=[1,2,3,4,5]
m=[d for d in list1]

print(m)

[1, 2, 3, 4, 5]

In [ ]:
data=[1,2,3,4,5,6,7,]
m=[d for d in data if d % 2 == 0]
print(m)

In [ ]:
j=[j for i in range(0,30,5)]
print(j)

In [ ]:
dict = {1:100,2:200,3:300}
s=[k for k in dict]
s

In [ ]:
dict1 = {1:100, 2:200, 3:300}
s = [k for k in dict1.items() ]
s

In [4]:
test_dict = {"arushi":22, "anuradha":21, "mani":21, "haritha":21}

new_dict ={key:val for key, val in test_dict.items()}

In [5]:
new_dict

{'arushi': 22, 'anuradha': 21, 'mani': 21, 'haritha': 21}

# string funtion

In [6]:
word="river"

In [7]:
word.upper()

'RIVER'

In [8]:
a="COMPUTER"

In [9]:
a.lower()

'computer'

In [11]:
word="welcome to python"

In [12]:
word.upper()

'WELCOME TO PYTHON'

In [13]:
word.lower()

'welcome to python'

In [16]:
word.swapcase()

'WELCOME TO PYTHON'

In [15]:
word.split()

['welcome', 'to', 'python']

In [17]:
word="sumukh"

In [20]:
word.swapcase()

'SUMUKH'

In [21]:
word2='python123'
word2.isalpha()

False

In [22]:
x='4566'
x.isalpha()

False

In [23]:
x.isalnum()

True

In [24]:
y="679"
y.isnumeric()

True

In [25]:
y="756"
y.isdigit()

True

In [26]:
m="ABCD"
m.isupper()

True

In [28]:
m="abcd"
m.islower()

True

#string concatatenation

In [29]:
str1='new'
str2='horizone'
print(str1+str2)
print(str1+' '+str2)

newhorizone
new horizone

funtions

In [30]:
def funtion1():
    print("hello")

In [32]:
funtion1()

hello

In [33]:
def funtion2():
    print("i am learning funtions")

In [34]:
funtion2()

i am learning funtions

In [35]:
def funtion3():
    print("funtions are small set of code")
    print("this can called number of times when required")

In [36]:
funtion3()

funtions are small set of code
this can called number of times when required

In [37]:
def funtion4():
    print(8+8)

In [38]:
funtion4()

16

In [39]:
def addfuntion():
    x=80
    y=10
    print(x+y)

In [40]:
addfuntion()

90

In [43]:
def addfuntion():
    x=70
    y=20
    print("the addition =",x+y)

In [44]:
addfuntion()

the addition = 90

In [45]:
def multifly():
    x=8
    y=9
    print("the multiplcation =",x*y)

In [46]:
multifly()

the multiplcation = 72

In [47]:
def subraction():
    x=45
    y=10
    print("the subraction =",x-y)

In [49]:
subraction()

the subraction = 35

In [50]:
def example():
    print("this my first example")
    x=35+15
    print(x)

In [51]:
example() #calling a funtion

this my first example
50

In [52]:
def greatervalue():
    a=15
    b=10
    print(a+b)

In [53]:
greatervalue()

25

In [14]:
def subraction(a,b):
    print(a-b)

In [15]:
subraction(8,2)

6

In [3]:
fathername="anand"
age=65
print("my fathername is{} and his age is{}. ".format(fathername,age))

my fathername isanand and his age is65.

In [1]:
name='john'
age="26"
print("his name is {} he is {} year old .".format(name,age))

his name is john he is 26 year old .